.App {

    display: flex;
    justify-content: space-around;
    margin: 20px;
    min-height: calc(50vh - 80px);
}


.left {
    background-color: darkslategray;
    color: azure;
  }
  
.right {
    background-color: wheat;
    color: firebrick;
  }

